* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',
    sans-serif;
}

body {
  background: #000;
}

#container {
  width: 350px;
  background: red;
  position: relative;
}

#score {
  position: absolute;
  left: 50%;
  top: 20px;
  display: block;
  transform: translate(-50%, 0);
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 70px;
}


@media screen and (max-width: 700px) {
  #container {
    width: 100vw;
  }
}