* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',
    sans-serif;
}

body {
  background: #fff;
}

#container {
  width: 350px;
  position: relative;
}

#container:after {
  content: '';
  position: absolute;
  width: calc(100vw - 350px);
  height: 100vh;
  left: 100%;
  background: rgba(0, 0, 0, 0.9);
}

#score {
  position: absolute;
  left: 50%;
  top: 100px;
  display: block;
  transform: translate(-50%, 0);
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 90px;
  z-index: -100;
  font-weight: 300;
}

#emot {
  position: absolute;
  font-size: 0px;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 700px) {
  #container {
    width: 100vw;
  }

  #container:after {
    display: none;
  }
}