* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',
    sans-serif;
}

body {
  background: black;
}


#container {
  width: 380px;
  height: 100vh;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

#record,
#score {
  position: absolute;
  left: 50%;
  display: block;
  transform: translate(-50%, 0);
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#record {
  top: 95px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0;
  transition: .2s;
}

#score {
  top: 110px;
  font-size: 110px;
  font-weight: 300;
  z-index: -1;

}

#emot {
  position: absolute;
  font-size: 0px;
  transform: translate(-50%, -50%);
  z-index: 10;
}


@media screen and (max-width: 500px) {
  #container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border: none;
  }

  #container:after {
    display: none;
  }
}